<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>uhureinsurance</name>
	<displayName><![CDATA[uhu Multi-function block]]></displayName>
	<version><![CDATA[1.1.3]]></version>
	<description><![CDATA[Adds an block to show reassure, categories or news.]]></description>
	<author><![CDATA[uhuPage]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>